.albums {
  display: flex;
  justify-content: center;
  margin: 50px 0;

  .albums-list {
    width: 600px;
  }

  .sort-controls {
    .sort-label {
      margin-right: 20px;
    }
    .mat-grey {
      color: #ccc;
    }
  }

  .album-row {
    width: 100%;

    .album-info {
      .album-title {
        margin-right: 20px;
      }
      .photos-info {
        font-style: italic;
        margin-right: 20px;
      }
    }
    .view-photos {
      a {
        cursor: pointer;
        text-decoration: none;
      }
    }
  }
}
